
*.v2
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditionExercise/v16/.suo
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditions/v16/.suo
ProgramingBasics/For-Loop-Exercise/.vs/For Loop EXERCISE/v16/.suo
ProgramingBasics/For-Loop/.vs/Fot LOOP/v16/.suo
ProgramingBasics/While Loop Exercise/.vs/While Loop Exercise/v16/.suo
ProgramingBasics/while Loop/.vs/while Lopp/v16/.suo
ProgramingBasics/Naste loops exercise/.vs/Naste loops exercise/v16/.suo
ProgramingBasics/Naste loops exercise/Number Pyramid/.vs/Number Pyramid/v16/.suo
ProgramingBasics/Nested Loops - Lab/.vs/Nested Loops - Lab/v16/.suo
ProgramingBasics/PracticeExam/.vs/PracticeExam/v16/.suo
ProgramingBasics/Exam/.vs/Exam/v16/.suo
Programming Fundamentals/VariablesPractice/.vs/VariablesPractice/v16/.suo
Programming Fundamentals/BasicSyntax/.vs/BasicSyntax/v16/.suo
Programming Fundamentals/Arrays/.vs/Arrays/v16/.suo
