
*.v2
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditionExercise/v16/.suo
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditions/v16/.suo
ProgramingBasics/For-Loop-Exercise/.vs/For Loop EXERCISE/v16/.suo
ProgramingBasics/For-Loop/.vs/Fot LOOP/v16/.suo
