
*.v2
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditionExercise/v16/.suo
ProgramingBasics/ComplicatedConditions/.vs/ComplicatedConditions/v16/.suo
ProgramingBasics/For-Loop-Exercise/.vs/For Loop EXERCISE/v16/.suo
ProgramingBasics/For-Loop/.vs/Fot LOOP/v16/.suo
ProgramingBasics/While Loop Exercise/.vs/While Loop Exercise/v16/.suo
ProgramingBasics/while Loop/.vs/while Lopp/v16/.suo
ProgramingBasics/Naste loops exercise/.vs/Naste loops exercise/v16/.suo
ProgramingBasics/Naste loops exercise/Number Pyramid/.vs/Number Pyramid/v16/.suo
ProgramingBasics/Nested Loops - Lab/.vs/Nested Loops - Lab/v16/.suo
ProgramingBasics/PracticeExam/.vs/PracticeExam/v16/.suo
ProgramingBasics/Exam/.vs/Exam/v16/.suo
Programming Fundamentals/VariablesPractice/.vs/VariablesPractice/v16/.suo
Programming Fundamentals/BasicSyntax/.vs/BasicSyntax/v16/.suo
Programming Fundamentals/Arrays/.vs/Arrays/v16/.suo
Programming Fundamentals/Methods/.vs/Methods/v16/.suo
Programming Fundamentals/Associative Arrays/.vs/Associative Arrays/v16/.suo
Programming Fundamentals/ExamFundamentals/.vs/ExamFundamentals/v16/.suo
Programming Fundamentals/ExamPrep/.vs/ExamPrep/v16/.suo
Programming Fundamentals/ExamPreparation/.vs/ExamPreparation/v16/.suo
Programming Fundamentals/MidExam/.vs/MidExam/v16/.suo
Programming Fundamentals/RegularExprexion/.vs/RegularExprexion/v16/.suo
Programming Fundamentals/TextProcessing/.vs/TextProcessing/v16/.suo
Csharp Advanced/Stacks and Queues/.vs/Stacks and Queues/v16/.suo
/Csharp OOP
/.vs
/Algorithms/Combinations/obj/Release/netcoreapp3.1
/Entity Framework
/ProgramingBasics
/Programming Fundamentals
/WebBasics/HttpMethods/.vs/HttpMethods/v17
/WebBasics/HttpMethods/HttpMethods/bin/Debug/net6.0
/WebBasics/HttpMethods/HttpMethods/obj
/Csharp Advanced/CsharpAdvancedExam/The Race - skeleton/obj/Debug/netcoreapp3.1
/Csharp Advanced/CsharpAdvancedExam/The Race - skeleton/obj/Release/netcoreapp3.1
/Csharp Advanced/CsharpAdvancedExam/TheRace/obj/Debug/netcoreapp3.1
/Csharp Advanced/CsharpAdvancedExam/TheRace/obj/Release/netcoreapp3.1
/Csharp Advanced/CsharpAdvancedExam/Warships/obj
/Csharp Advanced/Defining Classes
/Csharp Advanced/ExamPrep1/Bee/obj/Debug/netcoreapp3.1
/Csharp Advanced/ExamPrep1/Bee/obj/Release/netcoreapp3.1
/Csharp Advanced/ExamPrep1/FlowerWreaths/obj
/Csharp Advanced/ExamPrep1/VetClinic/obj
/Csharp Advanced/ExamPrep2
/Csharp Advanced/Functional Programming
/Csharp Advanced/Generics
/Csharp Advanced/Iterators and Comparators
/Csharp Advanced/Multidimensional Arrays
/Csharp Advanced/PracticeExam4/Boombs/obj
/Csharp Advanced/PracticeExam4/Parking/Parking/obj/Release/netcoreapp3.1
/Csharp Advanced/PracticeExam4/Snake/obj/Debug/netcoreapp3.1
/Csharp Advanced/PracticeExam4/Snake/obj/Release/netcoreapp3.1
/Csharp Advanced/PracticeExam5/Guild/obj/Debug/netcoreapp3.0
/Csharp Advanced/PracticeExam5/Guild/obj/Release/netcoreapp3.0
/Csharp Advanced/PracticeExam5/Lootbox/obj
/Csharp Advanced/PracticeExam5/Re-Volt/obj/Debug/netcoreapp3.1
/Csharp Advanced/PracticeExam5/Re-Volt/obj/Release/netcoreapp3.1
/Csharp Advanced/PrepExam3
/Csharp Advanced/Sets and Dictionaries Advanced
/Csharp Advanced/Stacks and Queues
/Csharp Advanced/UniExam
/Csharp Advanced/PracticeExam4/Parking/Parking/obj/Debug/netcoreapp3.1/Parking.GeneratedMSBuildEditorConfig.editorconfig
/Algorithms/Permutation/Fibonacci/obj/Release/netcoreapp3.1
/Algorithms/Permutation/Permutations/obj/Release/netcoreapp3.1
/Algorithms/Permutation/Variations/obj/Release/netcoreapp3.1
/Algorithms/Permutation/Factorial/obj/Release/netcoreapp3.1
/Algorithms/Sorting/BubbleSort/obj/Release/netcoreapp3.1
/Algorithms/Sorting/InsertionSort/obj/Release/netcoreapp3.1
/Algorithms/Sorting/SelectionSort/obj/Release/netcoreapp3.1
/WebBasics/Asynchronous Processing/PrimeNumbers/obj
/WebBasics/Asynchronous Processing/PrimeNumbers/bin/Debug/net6.0
/WebBasics/Asynchronous Processing/WpfApp1/obj
/WebBasics/Asynchronous Processing/WpfApp1/bin/Debug
